<p>
  <div class="center">
    <a href="/account/new" class="btn btn-primary">New</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>&nbsp;</th>
        <th>description</th>
      </tr>
    </thead>
    <%= for l_account <- @accounts do %>
    <tr>
      <td><%= l_account.name %></td> 
      <td>&nbsp;</td> 
      <td><%= l_account.description %></td> 
    </tr>
    <% end %>
  </table>
</p>
